.containerContacto {
  padding-bottom: 3rem;
  padding-top: 1rem;
  background-image: url(../imagenes/background5.png);
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: 0% 100%;

  @media screen and (max-width: 1300px) {
    background-size: cover;
  }

  @media screen and (max-width: 992px) {
    background-size: cover;
  }

  @media screen and (max-width: 480px) {
    padding-bottom: 5rem;
  }

  > .row {
    margin-top: 5rem;

    @media screen and (max-width: 992px) {
      margin-top: 7rem;
    }

    @media screen and (max-width: 480px) {
      margin-top: 2rem;
    }

    img {
      width: 90%;

      @media screen and (max-width: 992px) {
        padding-top: 2rem;
      }

      @media screen and (max-width: 480px) {
        margin-top: 0;
      }
    }

    .contactoPage {
      margin: 0 auto;
      color: white;
      padding: 2.5rem 0rem 2rem 3rem;
      margin-bottom: 2rem;

      @media screen and (max-width: 992px) {
        width: 80%;
        padding: 2.5rem 0rem 2rem 0rem;
      }

      @media screen and (max-width: 480px) {
        width: 88%;
        padding: 1rem 1rem;
      }

      h1 {
        margin: 15px 0px;
        margin-right: 2rem;
        font-size: 2.5rem;
        line-height: 3rem;
        text-align: left;

        @media screen and (max-width: 480px) {
          font-size: 1.8rem;
          line-height: 2.4rem;
        }
      }

      p {
        font-size: 1.5rem;
        text-align: justify;

        @media screen and (max-width: 480px) {
          font-size: 1rem;
        }
      }

      form {
        padding: 0.5rem;
        text-align: left;

        label {
          color: $orange;
        }

        .btnContacto {
          @include botones($green);
          color: $orange;
        }

        .form-control {
          background-color: #fff;
          border: 1px solid #a35700;
          border-radius: 0.6rem;
        }

        .form-check {
          height: 3.5rem;

          @media screen and (max-width: 480px) {
            height: 6rem;
            text-align: justify;
          }

          .form-check-label {
            color: white;
            font-size: 0.8rem;
          }
        }

        .form-select {
          color: $orange;
        }
      }
    }
  }
}
